<div ng-show="alerts.errors.length" class="alert alert-danger">
    <div ng-repeat="alert in alerts.errors">
        <li>{{ alert }}</li>
    </div>
</div>

<div ng-show="alerts.success.length" class="alert alert-success">
    <div ng-repeat="alert in alerts.success">
        <li>{{ alert }}</li>
    </div>
</div>