<div ng-controller="editController">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="notes--add">
                <form name="form" class="form-horizontal notes--add--form" ng-submit="update()">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Note title" ng-model="note.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Content</label>
                        <div class="col-sm-10">
                    <textarea rows="8" class="form-control" placeholder="Note content"
                              ng-model="note.content"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Remembered</label>
                        <div class="col-sm-10">
                            <input type="checkbox" ng-model="note.remembered">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button ui-sref="index" type="submit" class="btn btn-danger">Cancel</button>
                            <button type="submit" class="btn btn-success pull-right">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>