<div ng-controller="indexController">
    <div class="notes--filters">
        <div class="row">
            <form>
                <div class="col-md-4">
                    <label class="col-md-4">Notes per page</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-change="getNewData()"
                                ng-model="listParameters.limit"
                                ng-options="value.value as value.name for (key, value) in limitFilterOptions"
                        ></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-4">Notes type</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-change="getNewData()"
                                ng-model="listParameters.remembered"
                                ng-options="value.value as value.name for (key, value) in notesTypeFilterOptions"
                        ></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-4 ">Search</label>
                    <div class="col-md-8">
                        <input class="form-control" ng-model="search" type="text" placeholder="Enter search term...">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="notes--list">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th ng-click="changeOrder('id')">Id</th>
                        <th ng-click="changeOrder('title')">Tytuł</th>
                        <th ng-click="changeOrder('createdAt')">Data dodania</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="note in notes | limitTo:itemsPerPage | filter:search">
                        <td>{{ note.id }}</td>
                        <td>{{ note.title }}</td>
                        <td>{{ note.created_at | date:'dd/MM/yyyy H:mm:ss'}}</td>
                        <td>
                            <div ui-sref="edit({id: note.id})" class="btn btn-primary">Edit</div>
                        </td>
                        <td>
                            <div ui-sref="show({id: note.id})" class="btn btn-success">Show</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <ul uib-pagination total-items="listParameters.totalItems" ng-model="listParameters.page"
        items-per-page="listParameters.limit"
        template-url="view/templates/pagination/pagination.html" ng-change="getNewData()"></ul>
</div>