<div ng-controller="showController">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="note">
                <h2 class="note--title">{{ note.title }}</h2>
                <div class="note--content">{{ note.content }}</div>
            </div>
        </div>
    </div>
</div>